{% load static %}
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <span>
        Contatti
      </span>
      <h2>
        Contatti
      </h2>
    </div>
    <div class="row" id="contact-container">
      <div class="col-lg-6">
        <div class="row" id="social-profiles">
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-share-alt">
              </i>
              <h3>
                Profili Social
              </h3>
              <div class="social-links">
                <a href="https://wa.me/3894782250" class="whastapp" target="_blank">
                  <i class="bi bi-whatsapp">
                  </i>
                </a>
                <a href="https://github.com/LucaSoriani1" class="github" target="_blank">
                  <i class="bi bi-github">
                  </i>
                </a>
                <a href="https://join.skype.com/invite/NuBMa34pguj6" class="google-plus" target="_blank">
                  <i class="bi bi-skype">
                  </i>
                </a>
                <a href="https://www.linkedin.com/in/luca-soriani-a32a92214/" class="linkedin" target="_blank">
                  <i class="bi bi-linkedin">
                  </i>
                </a>
              </div>
            </div>
          </div>
          <div class= "row" id="social-profiles-contact">
            <div class="col-md-6">
             <div class="info-box mt-4">
               <i class="bx bx-envelope">
               </i>
                <h3>
                  Scrivimi
                </h3>
                <p mailto="luca_soriani@hotmail.com">
                  <a href="mailto:{{me.email}}">
                    {{me.email}}
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
              <i class="bx bx-phone-call">
              </i>
              <h3>
                Chiamami
              </h3>
              <p>
                <a href="tel:+393894782250">
                  {{user.phone}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <form method="post" class="php-email-form needs-validation" id = "task-form" novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            {{form.name}}
            <div class="invalid-feedback">
                Per favore, fornisci un nome.
            </div>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            {{form.email}}
            <div class="invalid-feedback">
                Per favore, fornisci un'email valida.
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          {{form.subject}}
          <div class="invalid-feedback">
            Per favore, fornisci l'oggetto del messaggio.
          </div>
        </div>
        <div class="form-group mt-3">
          {{form.message}}
          <div class="invalid-feedback">
              Per favore, fornisci il messaggio.
          </div>
        </div>
        <div class="button-loader">
          <div class="text-center" id="submit-button-contact">
            <button type="submit" value="Submit">
              Invia
            </button>
          </div>
          <div id="loader" style="display:none; text-align:center;">
            <img src="{% static 'app_profile/gif/loader.gif' %}" alt="loader">
          </div>
        </div>
      </form>
      <div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header" id="toast-header">
              <strong class="me-auto">
                Grazie per avermi contattato
              </strong>
            </div>
            <div class="toast-body">
              L'email è stata inviata con successo! <br>Risponderò il prima possibile. 
            </div>
          </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header toast-header-error" id="toast-header">
              <strong class="me-auto" id>
                Ops... Sembra che qualcosa non vada!
              </strong>
            </div>
            <div class="toast-body toast-body-error">
              Qualcosa è andato storto, il messaggio non è stato inviato. <br> Perché non provi a conttattarmi tramite l'email? 
            </div>
          </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToastWarning" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header toast-header-warning" id="toast-header">
              <strong class="me-auto" id>
                Sembra che i campi inseriti non siano corretti.
              </strong>
            </div>
            <div class="toast-body toast-body-error">
              Per favore, fornisci dei campi validi!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>